body {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 0;
    background-color: #404040;
    max-width: 1080px;
	justify-content: center;
	color: white;
}
footer{
	width: 100%;
	background-color: #404040;
}
/*##################nav#####################*/
nav{
	width: 100%;
	top: -20em;
	justify-content: flex-end;
	overflow: hidden;
	display: flex;
	order: 1;
	position: fixed;
	background-color: #5c00e6;
	color: white;
	transition-duration: 1s;
}
nav ul{
	width: 100%;
	display: flex;
	list-style-type:none;
	flex-flow: row wrap;
}
nav li{
	width: 100%;
	padding: 1em;
	transition-duration: 1s;
	border-bottom: 1px solid #0d0d0d;
}
nav li:hover{
	background-color: #751aff;
}
nav li:focus{
	background-color: #751aff;
}
nav a{
	color: white;
	text-decoration: none;
}
#toggle{
display: none;
}
label{
	position: fixed;
	display: flex;
	order: 1;
	background-color: #404040;
	border-bottom: 1px solid #5c00e6;
	width: 100%;
	padding: 1em;
}
input:checked ~ nav{
	top: 3em;
}
/*##################page 1#####################*/

.popular,.show,.coment,.seatl{
	width: 100%;
	background-color: #333333;
}
.popular{
	margin-top: 3em;
}
.coment{
	border-bottom: 1px solid #5c00e6;
}
textarea {
  width: 99%;
  height: 150px;
}
th, td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.commentbox {
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  background-color: #737373;
  width: 100%;
}
.seatl{
	display: none;
}
.show{
 border: 1px solid #a6a6a6;
  border-radius: 10px;
  background-color: white;
  width: 100%;
}
.show tbody{
	height: 170px;
    overflow-y: auto;
}
table{
	width: 300px;
}


@media screen and (min-width: 48em)  {
.popular{
	margin-top: 5em;
}

input:checked ~ nav{
	top: 5em;
}
label{
	padding: 2em;
}
.seatl{
	display: flex;
	width: 25%;
	border-bottom: 1px solid #5c00e6;
}
.coment{
	width: 75%;
	border-bottom: 1px solid #5c00e6;
}

}
@media screen and (min-width: 1080px)  {
label{
	display: none;
}
nav{
	top: 0em;
	justify-content: flex-start;
}
nav li{
	width: 21%;
	padding-bottom: 0,5em;
}
}